.content-carrovacio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-carrovacio p {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.linkSeguirComprando {
  text-decoration: none;
  font-size: 30px;
  border: 3px solid black;
  padding: 10px;
  font-weight: bold;
  color: black;
  background-color: yellow;
  border-radius: 30px;
}
.linkSeguirComprando:hover {
  background-color: black;
  color: yellow;
  border: 3px solid yellow;
}

.content-cart {
  width: 100%;
  height: 100%;
}
.content-footer-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
}

.content-footer-cart p{
    font-size: 30px;
    margin-bottom: 20px;

}
.content-footer-cart p span{
    color: yellow;
    font-family: cursive;
    font-weight: bold ;
}