.content-logo-menu{
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: flex-end;

}

.button-logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    
}

.button-logo h1{
    font-family: Roboto;
    font-style: italic;
    font-size: 40px;
    
}

.logo-left{
    color: yellow;
}

.logo-right{
    color: white;
}

.link-logo{
    text-decoration: none;
}

@media only screen and (max-width: 1400px) {
    .button-logo h1{
     margin: 0px;

        
    }
}

@media only screen and (max-width: 650px) {
    .button-logo h1{
     margin: 0px;

        
    }
}


@media only screen and (max-width: 550px) {
    .button-logo h1{
     margin: 0px;
     font-size: 35px;
        
    }
}
