.content-filter{

    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

}

.content-filter h2{
color: yellow;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.NavLink:hover {
    scale:calc(1.2) ;
}

.NavLink-fas{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-size: 25px;
}
.NavLink-fas:hover {
    font-weight: bold;
    color: yellow;
}