.counter{
    width: 200px;
height: 80px;
    margin: 0;
    /* padding: 1rem; */
    text-align: center;
    display: flex;
}

.contenedorAgregar{
    display: flex;
    justify-content: center;
align-items: center;
}

.botonagregar{
    color: black;
    background-color: yellow;
    padding: 10px;
    border: 4px solid black;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  
    
}

.botonagregar:hover {
    background-color: black;
    border: 4px solid yellow;
    color: yellow;
}

.botonsumaryrestar{
    
    border-radius: 25px;
    font-size: 40px;
    color: white;
    background-color: transparent;

    padding: 10px;
 

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.spanNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* margin: 30px; */
    margin: 0px 30px 0px 30px;

}

.sumarrestar{
    width: 80px;

}